*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: mont;
    src: url(./FONTS/Montserrat-VariableFont_wght.ttf);
}
html
{
    font-size: 67.5%;
}
body
{
    font-family: mont;
}
header
{
    height: 90vh;
    background-image: url(./img/unsplash_FCHlYvR5gJI.png);
    background-repeat: no-repeat;
    position: relative;
}
nav
{
    display: flex;
    justify-content:space-between ;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 1.5rem 0rem;
}
nav ul
{
    list-style: none;
    display: flex;
}
nav ul li
{
    margin:  0 5rem;
}
nav ul li a
{
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

nav button{
    background-color: aqua;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: mont;
    font-weight: bold;
}
.logo-text
{
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
}
.header-text
{
    width: 70%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.header-text h1
{
    font-size: 5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 3rem;
}

.header-text h1 span{
    color: aqua;
   
}

.header-text p
{
    font-size: 1.6rem;
    color: white;
    margin: 4rem;
}

.header-text button
{
    width: 30%;
    padding: 1rem 3rem;
    border-radius: 2rem;
    background-color: aqua;
    color: white;
    border: 0;
    outline: none;
    font-family: mont;
    font-weight: bold;
}
.comment
{
    position: absolute;
    right: 7rem;
    bottom: 5rem;
}
.main-section
{
    
    display: flex;
    width: 85vw;
    margin: 5rem auto ;
    gap: 4rem;
  
}
.left
{
    font-size: 2rem;
    flex-basis: 45%;
}

.right
{
    font-size: 1.5rem;
    flex-basis: 55%;
    display: grid;
    gap: 3rem;
    grid-template-areas: 
    "web soft"
    "app brand";
    gap: 7rem;

}

.website
{
    grid-area: web;
}
.software
{
    grid-area: soft;
}
.app
{
    grid-area: app;
}
.brand
{
    grid-area: brand;
}

.second-section
{
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: 0 auto;
    gap: 4rem;
}
.section-text
{
    font-size: 3rem;
    flex-basis: 45%;
}
.section-text-2
{
    font-size: 1.5rem;
    flex-basis: 55%;
}
.in-section2{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.section-a
{
    flex-basis: 45%;
    display: flex;
    padding: 2rem 3rem;
}
.section-b
{
    flex-basis: 55%;
    display:flex;
}
.section-b-1
{
    flex-basis: 45%;
    font-size: 2rem;
}
.section-b-2
{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}
footer{
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    position: relative;
    border-top: 0.5px grey solid;
}
.foot1{
    flex-basis: 30%;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.foot2{
    flex-basis: 35%;
    position: absolute;
    top: 30%;
    font-size: 1.5rem;
}
.foot3{
    flex-basis: 35%;
    position: absolute;
    top: 30%;
    right: 5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.foot3 ul{
    list-style: none;
}
@media(max-width:450px){
    header{
        position: relative;
    }
    nav ul li{
        display: none;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    .header-text h1{
        font-size: 2rem;
        margin-top: 4rem;
    }
    .header-text p{
        font-size: 1.3rem;
    }
    .header-text button{
        padding: 1rem 2rem;
        width: 80%;
    }
    .comment{
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        height: 7%;
        width: 10%;
    }
    .main-section{
        display: grid;
        grid-template-areas: 
        "left"
        "right";
    }
    .right{
        display: grid;
        grid-template-areas: 
        "web"
        "soft"
        "app"
        "brand";
        font-size: 1.2rem;
    }
    .left{
        font-size: 1.5rem;
        text-align: center;
    }
    .website{
        text-align: center;
    }
    .software{
        text-align: center;
    }
    .app{
        text-align: center;
    }
    .brand{
        text-align: center;
    } 
    .section-a{
        display: grid;
        grid-template-areas: 
        "section-text"
        "section-text-2";
        gap: 2rem;
    }
    .section-text{
        font-size: 2rem;
        text-align: center;
    }
    .section-text-2{
        font-size: 1.2rem;
        text-align: center;
    }
    .section-b{
        display: grid;
        grid-template-areas: 
        "section-b-1"
        "section-b-2";
    }
    .section-b-1{
        font-size: 1.5rem;
        text-align: center;
    }
    .section-b-2{
        font-size: 1.2rem;
        text-align: center;
    }
    .i1, .i2, .i3, .i4{
        height: 4rem;
        width: 4rem;
    } 
    /* footer{
        display: grid;
        grid-template-areas: 
        "foot1"
        "foot2"
        "foot3 ";
        height: 60vh;
    }
    .foot1{
        grid-area: foot1;
        font-size: 1.5rem;
    }
    .foot2{
        grid-area: foot2;
        font-size: 1.2rem;
        text-align: center;
    }
    .foot3{
        grid-area: foot3;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 7rem;
    } */
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
        position: relative;
    }
    .foot1{
        font-size: 1.5rem;
    }
    .foot2{
        position: absolute;
        left: 8rem;
        font-size: 1.2rem;
        text-align: center;
    }
    .foot3{
        position: absolute;
        left: 2rem;
        top: 20rem;
        font-size: 1.2rem;
        text-align: center;
    }
}